* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.button {
  cursor: pointer;
  border: none;
}
body {
  font-family: "DM Sans", sans-serif;
}
button {
  cursor: pointer;
  border: none;
}

/* ! HEADER START */
.header {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-a {
  display: flex;
  gap: 50px;
}
.header-a a {
  color: #696871;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.469px;
  transition: 2s;
}
.header button {
  width: 211px;
  height: 60px;
  border-radius: 10px;
  background: #ff7143;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.531px;
}
.header-a a:hover {
  transform: scale(1.3);
  border-bottom: 5px solid black;
  color: #19191b;
}
/* ! HEADER END */

/* ! HERO START */
.hero {
  padding: 100px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.hero-text h1 {
  padding: 50px 0;
  color: #19191b;
  font-size: 80px;
  font-weight: 700;
  line-height: 77px; /* 96.25% */
  letter-spacing: -2.501px;
}
.hero-text p {
  padding-bottom: 50px;
  color: #696871;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: -0.625px;
}
.hero-btn {
  display: flex;
  align-items: center;
  gap: 40px;
}
.hero-btn button {
  width: 211px;
  height: 60px;
  border-radius: 10px;
  background: #5454d4;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.531px;
}
.hero-bottom {
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ! HERO END */

/* ! SUBSCRIBE START */
.sub {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.sub-text {
  padding: 200px 0;
}
.sub-text h1 {
  color: #19191b;
  font-size: 50px;
  font-weight: 700;
  line-height: 57px; /* 114% */
  letter-spacing: -1.563px;
}
.sub-text p {
  padding: 30px 0;
  color: #696871;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: -0.625px;
}
.sub-text a {
  color: #5454d4;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.531px;
}
/* ! SUBSCRIBE END */

/* ! CART START */
.cart {
  padding: 150px 0;
  display: flex;
  justify-content: space-around;
}
.cart2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.cart2 h3 {
  color: #19191b;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: -0.75px;
}
.cart2 p {
  padding-top: 20px;
  color: #696871;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.5px;
}
/* ! CART END */

/* ! GET START */
.get-text {
  padding: 150px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-text h1 {
  color: #19191b;
  font-size: 60px;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
  letter-spacing: -1.876px;
}
.get-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 344px;
  height: 65px;
  border-radius: 10px;
  background: #f7f7fb;
}
.get-btn {
  display: flex;
}
.get-btn1 button {
  width: 160px;
  height: 55px;
  border-radius: 10px 0px 0px 10px;
  background: #5454d4;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.get-btn2 button {
  width: 160px;
  height: 55px;
  border-radius: 0 10px 10px 0;
  background: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
/* ! GET END */

/* ! BOX START */
.box {
  display: flex;
  justify-content: space-around;
}
.box1 {
  width: 330px;
  height: 441px;
  border-radius: 10px;
  background: #f8f8f8;
}
.box-text {
  padding: 34px 0;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.box-text p {
  color: #696871;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.563px;
}
.box-text h1 {
  color: #1d293f;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px; /* 93.333% */
  letter-spacing: -1.034px;
}
.box-text button {
  color: #5454d4;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.531px;
  width: 285px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #eae9f2;
  background: #fff;
}
.box2 {
  width: 376px;
  height: 473px;
  border-radius: 10px;
  background: #ff7143;
  box-shadow: 0px 32px 34px 0px rgba(255, 112, 59, 0.32);
}
.box-text2 p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.563px;
}
.box-text2 h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px; /* 93.333% */
  letter-spacing: -1.034px;
}
.box-text2 h1 span {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.034px;
}
.box-text2 button {
  width: 305px;
  height: 60px;
  border-radius: 10px;
  background: #9f3919;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.531px;
}
.box-text2 {
  padding: 34px 0;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.box3 {
  width: 330px;
  height: 441px;
  border-radius: 10px;
  background: #f8f8f8;
}
.box-text3 {
  padding: 34px 0;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.box-text3 p {
  color: #696871;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.563px;
}
.box-text3 h1 {
  color: #1d293f;
  font-size: 60px;
  font-weight: 700;
  line-height: 56px; /* 93.333% */
  letter-spacing: -1.034px;
}
.box-text3 h1 span {
  color: #1d293f;
  font-size: 28px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -1.034px;
}
.box-text3 button {
  color: #5454d4;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: -0.531px;
  width: 285px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #eae9f2;
  background: #fff;
}
/* ! BOX END */

/* ! MEDIA */
@media (max-width: 992px) {
  .hero-text h1 {
    font-size: 64px;
  }
  .hero-text p {
    font-size: 25px;
  }
  .sub {
    width: 897px;
  }
}
@media (max-width: 678px) {
  .header-a {
    gap: 34px;
  }
  .hero-text {
    display: flex;
    flex-direction: column;
  }
  .hero-text h1 {
    font-size: 04px;
  }
}
